<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <h1>CandidateRegistrationSystem!</h1>
    <h:link value="candidates" outcome="candidates"/>
    <br/>
    <h:link value="voters" outcome="voters"/>
    <br/>
    <h:link value="vote" outcome="vote"/>
    <br/>
</h:body>
</html>
